/* write your override styles here*/
.graphicart{
    background: orange;
    position: absolute;

}
#wall .tag-1{
    display:none;
}

#frontimage .tag-3{
    display:none;
    margin-left: auto;
    margin-right: auto;
}

#walls. tag-4{
    display:none;
}

#notsurewhatthisis .tag-5{
    display:none;
    positon: absolute;
}